main p {
  color: #ffffff;
  font-size: 0.9em;
  width: 100%;
}

h2 {
  color: #FFFFFF;
}

.deve_txt {
  padding-top: 6%;
    margin-right: 10%;
  margin-left: 10%;
}

img {
  float: right;
  width: 50%;
  height: 15%;
  padding: 5px;
}